.custom-badge .mat-badge-content {
  width: 24px;
  height: 24px;
  font-size: 14px;
  line-height: 24px;
}

.custom-badge .mat-icon {
  font-size: 32px;
  width: 32px;
  height: 32px;
}

button[mat-stroked-button] {
  font-weight: bold; /* Makes the text bold */
}

nav a {
  border-bottom: 2.5px solid transparent;
  transition: all 0.4s;
}

a {
  &:hover {
    // border-color: #6366f1;
    color: #3d40ec;
  }

  &.active {
    color: #3d40ec;
  }
}
