<header class="border-b p-3 w-full">
  <div
    class="flex align-middle items-center justify-between max-w-screen-2xl mx-auto"
  >
    <img
      src="/images/logo.png"
      alt="app logo"
      class="max-h-16 my-2 uppercase text-xl"
    />
    <nav class="flex gap-3">
      <a routerLink="/" routerLinkActive>Home</a>
      <a routerLink="" routerLinkActive>Shop</a>
      <a routerLink="/contact" routerLinkActive>Contact</a>
    </nav>
    <div class="flex gap-3 align-middle">
      <a href="" matBadge="8" matBadgeSize="large">
        <!-- <mat-icon>shopping_cart</mat-icon> -->
      </a>
      <button mat-stroked-button>Login</button>
    </div>
  </div>
</header>
